################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DontNetCore/WebApiApp/.vs/WebApiApp/v15
/DontNetCore/WebApiApp/WebApiApp/obj
/DontNetCore/WebApiApp/WebApiApp/bin/Debug/netcoreapp2.1
/DontNetCore/WebApiApp/.vs/config
